<div class="card">
	<div class="card-body">
		<h5 class="card-title">List Of Educations</h5>
		<div class="d-flex justify-content-between align-items-start">
			<a class="btn btn-sm btn-dark shadow mb-2" href="<%= action('educations', 'create') %>"><i class="fa fa-user-plus"></i> New</a>
			<!-- <vc:education-dropdown linkable="true" /> -->
		</div>
		<table class="table table-sm table-striped table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>Semesters</th>
					<th>Description</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<% educations.forEach((education) => { %>
					<tr class="">
						<td><%= education._id %></td>
						<td><%= education.name %></td>
						<td><%= education.semesters %></td>
						<td><%= education.description %></td>
						<td>
							<button type="button" class="btn btn-sm btn-danger btn-delete" data-bs-toggle="modal" data-href="<%= action('educations', education._id) %>" data-bs-target="#modal-delete" data-id="<%= education.Id %>" data-name="<%= education.name%>">
								<i class="fa fa-trash"></i>
							</button>
							<a class="btn btn-sm btn-primary" href="<%= action('educations', education._id, 'edit') %>"><i class="fa fa-edit"></i></a>
							<a class="btn btn-sm btn-dark" href="<%= action('educations', education._id, 'students') %>"><i class="fa fa-users"></i></a>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</div>
</div>