<div class="card mx-auto" style="max-width:700px;">
	<div class="card-body">
		<h5 class="card-title"><i class="fa fa-user-plus"></i> Add New Education</h5>
		<form action="<%= action('educations')%>" method="post" class="row g-3">
			<% if(errorsAny()) { %>
				<div class="text-danger">
					<% errors.forEach((error)=>{ %>
						<p>
							<%= error.message%>
						</p>
						<% }) %>
				</div>
				<% } %>
				<div class="col-12">
					<label for="name" class="form-label">Name</label>
					<input id="name" name="name" value="<%= old('name') %>" class="form-control">
				</div>
				<div class="col-12">
					<label for="semesters" class="form-label">Semesters</label>
					<input type="number" name="semesters" value="<%= old('semesters') %>" id="semesters" class="form-control">
				</div>
				<div class="col-12">
					<label for="description" class="form-label">Description</label>
					<!-- <input type="" name="semesters" value="<%= old('semesters') %>" id="semesters" class="form-control"> -->
					<textarea name="description" id="description" rows="5" class="form-control"><%= old('description') %></textarea>
				</div>
				<div class="text-center d-flex justify-content-between">
					<button type="submit" class="btn btn-sm btn-dark"><i class="fa fa-plus-circle"></i>
						Create</button>
					<a class="btn btn-sm btn-danger" href="<%= url.back() %>"><i class="fa fa-cancel"></i> Cancel</a>
				</div>
		</form>
	</div>
</div>